In [ ]:
[markdown]
## ğŸ“˜ M2.4 Pandas ç¼ºå¤±å€¼è™•ç†åŸºç¤

æœ¬æ•™å­¸å°‡ä»‹ç´¹ Pandas ä¸­è™•ç†ç¼ºå¤±å€¼çš„åŸºæœ¬æ–¹æ³•ã€‚åœ¨å¯¦éš›æ•¸æ“šåˆ†æä¸­ï¼Œè™•ç†ç¼ºå¤±å€¼æ˜¯æ•¸æ“šæ¸…æ´—éç¨‹ä¸­çš„é‡è¦æ­¥é©Ÿï¼ŒæŒæ¡é€™äº›æŠ€å·§å¯ä»¥å¹«åŠ©æ‚¨æ›´æœ‰æ•ˆåœ°æº–å‚™æ•¸æ“šã€‚

In [ ]:
[markdown]
### ğŸ¯ æ•™å­¸ç›®æ¨™

- ğŸ” äº†è§£ Pandas ä¸­ç¼ºå¤±å€¼çš„è¡¨ç¤ºæ–¹å¼
- ğŸ“Š å­¸ç¿’æª¢æ¸¬å’Œè¨ˆç®—ç¼ºå¤±å€¼çš„æ–¹æ³•
- ğŸ§¹ æŒæ¡è™•ç†ç¼ºå¤±å€¼çš„åŸºæœ¬ç­–ç•¥ï¼ˆåˆªé™¤èˆ‡å¡«å……ï¼‰
- ğŸ’» ç·´ç¿’ç¼ºå¤±å€¼è™•ç†çš„åŸºæœ¬æŠ€å·§

In [ ]:
### ğŸ§° ç’°å¢ƒè¨­ç½®

In [2]:
import numpy as np
import pandas as pd

# è¨­ç½®é¡¯ç¤ºé¸é …
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 80)
pd.set_option('display.precision', 3)

In [3]:
[markdown]
### ğŸ“Š 1. ç¼ºå¤±å€¼çš„è¡¨ç¤ºèˆ‡å‰µå»º

Pandas ä½¿ç”¨ `NaN` (Not a Number) ä¾†è¡¨ç¤ºæ•¸å€¼å‹æ•¸æ“šçš„ç¼ºå¤±å€¼ï¼Œä½¿ç”¨ `None` è¡¨ç¤ºå…¶ä»–é¡å‹çš„ç¼ºå¤±å€¼ã€‚

SyntaxError: invalid character 'ï¼Œ' (U+FF0C) (3900478350.py, line 4)

In [4]:
# 1.1 å‰µå»ºå¸¶æœ‰ç¼ºå¤±å€¼çš„ DataFrame
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, 5],
    'D': ['a', 'b', 'c', None, 'e']
})

print("å¸¶æœ‰ç¼ºå¤±å€¼çš„ DataFrame:")
print(df)

å¸¶æœ‰ç¼ºå¤±å€¼çš„ DataFrame:
     A    B    C     D
0  1.0  NaN  1.0     a
1  2.0  2.0  2.0     b
2  NaN  3.0  3.0     c
3  4.0  4.0  NaN  None
4  5.0  5.0  5.0     e

In [5]:
# 1.2 äº†è§£ NaN å’Œ None çš„å€åˆ¥
print("NaN æ˜¯æµ®é»å‹å—?", np.issubdtype(type(np.nan), np.floating))
print("None çš„é¡å‹:", type(None))
print("\nä½¿ç”¨ np.nan å»ºç«‹çš„åˆ—çš„æ•¸æ“šé¡å‹:", df['A'].dtype)
print("ä½¿ç”¨ None å»ºç«‹çš„åˆ—çš„æ•¸æ“šé¡å‹:", df['D'].dtype)

NaN æ˜¯æµ®é»å‹å—? True
None çš„é¡å‹: <class 'NoneType'>

ä½¿ç”¨ np.nan å»ºç«‹çš„åˆ—çš„æ•¸æ“šé¡å‹: float64
ä½¿ç”¨ None å»ºç«‹çš„åˆ—çš„æ•¸æ“šé¡å‹: object

In [6]:
# è§£èªª:
# - Pandas ä½¿ç”¨æµ®é»å‹çš„ NaN è¡¨ç¤ºæ•¸å€¼å‹ç¼ºå¤±å€¼
# - None è¡¨ç¤ºéæ•¸å€¼å‹æ•¸æ“šçš„ç¼ºå¤±
# - ç•¶åˆ—ä¸­å«æœ‰ NaN æ™‚ï¼Œæ•¸å€¼åˆ—æœƒè¢«è½‰æ›ç‚ºæµ®é»å‹
# - ç•¶åˆ—ä¸­å«æœ‰ None æ™‚ï¼Œå­—ç¬¦ä¸²åˆ—æœƒä¿æŒåŸæ•¸æ“šé¡å‹
# - åœ¨å¤§å¤šæ•¸æƒ…æ³ä¸‹ï¼ŒPandas æœƒå°‡ None åœ¨å…§éƒ¨è½‰æ›ç‚º NaN é€²è¡Œè™•ç†

In [7]:
[markdown]
### ğŸ“Š 2. æª¢æ¸¬ç¼ºå¤±å€¼

NameError: name 'markdown' is not defined

In [13]:
# is_na = df.isna()
is_null = df.isnull()
# is_na
is_null

       A      B      C      D
0  False   True  False  False
1  False  False  False  False
2   True  False  False  False
3  False  False   True   True
4  False  False  False  False

In [8]:
# 2.1 æª¢æ¸¬ç¼ºå¤±å€¼
is_na = df.isna()  # ä¹Ÿå¯ä»¥ä½¿ç”¨ df.isnull()
print("ç¼ºå¤±å€¼æª¢æ¸¬ (True è¡¨ç¤ºç¼ºå¤±):")
print(is_na)

# 2.2 æª¢æ¸¬éç¼ºå¤±å€¼
is_not_na = df.notna()  # ä¹Ÿå¯ä»¥ä½¿ç”¨ df.notnull()
print("\néç¼ºå¤±å€¼æª¢æ¸¬ (True è¡¨ç¤ºéç¼ºå¤±):")
print(is_not_na)

ç¼ºå¤±å€¼æª¢æ¸¬ (True è¡¨ç¤ºç¼ºå¤±):
       A      B      C      D
0  False   True  False  False
1  False  False  False  False
2   True  False  False  False
3  False  False   True   True
4  False  False  False  False

éç¼ºå¤±å€¼æª¢æ¸¬ (True è¡¨ç¤ºéç¼ºå¤±):
       A      B      C      D
0   True  False   True   True
1   True   True   True   True
2  False   True   True   True
3   True   True  False  False
4   True   True   True   True

In [15]:
# is_not_na = df.notna()
# is_not_na
is_not_null = df.notnull()
is_not_null

       A      B      C      D
0   True  False   True   True
1   True   True   True   True
2  False   True   True   True
3   True   True  False  False
4   True   True   True   True

In [16]:
na_in_columns = df.isna().sum()
na_in_columns

A    1
B    1
C    1
D    1
dtype: int64

In [ ]:
# 2.3 è¨ˆç®—æ¯åˆ—çš„ç¼ºå¤±å€¼æ•¸é‡
na_count_by_column = df.isna().sum()
print("æ¯åˆ—çš„ç¼ºå¤±å€¼æ•¸é‡:")
print(na_count_by_column)

In [21]:
row_na = df.isna().sum(axis=1)
row_na

0    1
1    0
2    1
3    2
4    0
dtype: int64

In [20]:
row_na = df.isnull().sum(axis = 1)
row_na

0    1
1    0
2    1
3    2
4    0
dtype: int64

In [ ]:
# 2.4 è¨ˆç®—æ¯è¡Œçš„ç¼ºå¤±å€¼æ•¸é‡
na_count_by_row = df.isna().sum(axis=1)
print("\næ¯è¡Œçš„ç¼ºå¤±å€¼æ•¸é‡:")
print(na_count_by_row)

In [24]:


# 2.5 è¨ˆç®—ç¼ºå¤±å€¼çš„ç™¾åˆ†æ¯”
na_percentage = df.isna().mean() * 100
print("\næ¯åˆ—ç¼ºå¤±å€¼çš„ç™¾åˆ†æ¯”:")
print(na_percentage)

æ¯åˆ—ç¼ºå¤±å€¼çš„ç™¾åˆ†æ¯”:
A    20.0
B    20.0
C    20.0
D    20.0
dtype: float64

In [ ]:
# è§£èªª:
# - `isna()` å’Œ `isnull()` éƒ½ç”¨æ–¼æª¢æ¸¬ç¼ºå¤±å€¼ï¼Œè¿”å›å¸ƒçˆ¾å€¼çŸ©é™£
# - `notna()` å’Œ `notnull()` ç”¨æ–¼æª¢æ¸¬éç¼ºå¤±å€¼ï¼Œèˆ‡ `isna()` ç›¸å
# - ä½¿ç”¨ `sum()` å¯ä»¥è¨ˆç®—ç¼ºå¤±å€¼çš„æ•¸é‡ï¼Œåƒæ•¸ `axis=1` è¡¨ç¤ºæŒ‰è¡Œè¨ˆç®—
# - ä½¿ç”¨ `mean()` å¯ä»¥è¨ˆç®—ç¼ºå¤±å€¼çš„æ¯”ä¾‹ï¼Œä¹˜ä»¥ 100 è½‰æ›ç‚ºç™¾åˆ†æ¯”
# - é€™äº›æ–¹æ³•å¯ä»¥å¹«åŠ©æˆ‘å€‘äº†è§£æ•¸æ“šé›†ä¸­ç¼ºå¤±å€¼çš„åˆ†å¸ƒæƒ…æ³

In [ ]:
[markdown]
### ğŸ“Š 3. åˆªé™¤ç¼ºå¤±å€¼

In [27]:
df

     A    B    C     D
0  1.0  NaN  1.0     a
1  2.0  2.0  2.0     b
2  NaN  3.0  3.0     c
3  4.0  4.0  NaN  None
4  5.0  5.0  5.0     e

In [39]:
df_dropna_rows = df.dropna()
df_dropna_rows

     A    B    C  D
1  2.0  2.0  2.0  b
4  5.0  5.0  5.0  e

In [ ]:
# 3.1 åˆªé™¤å«æœ‰ç¼ºå¤±å€¼çš„è¡Œ(rows)
df_dropna_rows = df.dropna()
print("åˆªé™¤æ‰€æœ‰å«æœ‰ç¼ºå¤±å€¼çš„è¡Œ:")
print(df_dropna_rows)

In [35]:
df_dropna_all = df.dropna(how="all")
df_dropna_all

     A    B    C     D
0  1.0  NaN  1.0     a
1  2.0  2.0  2.0     b
2  NaN  3.0  3.0     c
3  4.0  4.0  NaN  None
4  5.0  5.0  5.0     e

In [ ]:

# 3.2 åˆªé™¤æ‰€æœ‰å€¼éƒ½æ˜¯ç¼ºå¤±å€¼çš„è¡Œ(é‚£ä¸€rowséƒ½æ˜¯ç¼ºå¤±å€¼æ™‚æœƒè¢«åˆªé™¤)
df_dropna_all = df.dropna(how='all')
print("\nåˆªé™¤æ‰€æœ‰å€¼éƒ½æ˜¯ç¼ºå¤±å€¼çš„è¡Œ:")
print(df_dropna_all)

åˆªé™¤æ‰€æœ‰å€¼éƒ½æ˜¯ç¼ºå¤±å€¼çš„è¡Œ:
     A    B    C     D
0  1.0  NaN  1.0     a
1  2.0  2.0  2.0     b
2  NaN  3.0  3.0     c
3  4.0  4.0  NaN  None
4  5.0  5.0  5.0     e

In [34]:


# 3.3 åˆªé™¤å«æœ‰ç¼ºå¤±å€¼çš„åˆ—
df_dropna_columns = df.dropna(axis=1)
print("\nåˆªé™¤æ‰€æœ‰å«æœ‰ç¼ºå¤±å€¼çš„åˆ—:")
print(df_dropna_columns)

åˆªé™¤æ‰€æœ‰å«æœ‰ç¼ºå¤±å€¼çš„åˆ—:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
# 3.4 æ ¹æ“šé–¾å€¼åˆªé™¤ç¼ºå¤±å€¼
# åªä¿ç•™è‡³å°‘æœ‰ 3 å€‹éç¼ºå¤±å€¼çš„è¡Œ
df_thresh = df.dropna(thresh=3)
print("ä¿ç•™è‡³å°‘æœ‰ 3 å€‹éç¼ºå¤±å€¼çš„è¡Œ:")
print(df_thresh)

# 3.5 åŸºæ–¼ç‰¹å®šåˆ—åˆªé™¤ç¼ºå¤±å€¼
df_subset = df.dropna(subset=['A', 'B'])
print("\nåˆªé™¤ A æˆ– B åˆ—æœ‰ç¼ºå¤±å€¼çš„è¡Œ:")
print(df_subset)

In [ ]:
# è§£èªª:
# - `dropna()` ç”¨æ–¼åˆªé™¤å«æœ‰ç¼ºå¤±å€¼çš„è¡Œæˆ–åˆ—
# - é»˜èªæƒ…æ³ä¸‹ï¼Œ`dropna()` åˆªé™¤ä»»ä½•åŒ…å«ç¼ºå¤±å€¼çš„è¡Œ
# - åƒæ•¸ `how='all'` è¡¨ç¤ºåƒ…ç•¶æ‰€æœ‰å€¼éƒ½æ˜¯ç¼ºå¤±å€¼æ™‚æ‰åˆªé™¤
# - åƒæ•¸ `axis=1` è¡¨ç¤ºåˆªé™¤åˆ—è€Œä¸æ˜¯è¡Œ
# - åƒæ•¸ `thresh` æŒ‡å®šä¿ç•™è¡Œ/åˆ—æ‰€éœ€çš„éç¼ºå¤±å€¼æœ€å°æ•¸é‡
# - åƒæ•¸ `subset` æŒ‡å®šåƒ…è€ƒæ…®ç‰¹å®šåˆ—çš„ç¼ºå¤±å€¼
# - é€™äº›æ–¹æ³•é»˜èªè¿”å›æ–°çš„ DataFrameï¼Œä¸ä¿®æ”¹åŸå§‹æ•¸æ“š

In [ ]:
[markdown]
### ğŸ“Š 4. å¡«å……ç¼ºå¤±å€¼

In [ ]:
# 4.1 ç”¨å›ºå®šå€¼å¡«å……ç¼ºå¤±å€¼
df_fill_0 = df.fillna(0)
print("ç”¨ 0 å¡«å……æ‰€æœ‰ç¼ºå¤±å€¼:")
print(df_fill_0)

# 4.2 é‡å°ä¸åŒåˆ—ä½¿ç”¨ä¸åŒçš„å¡«å……å€¼
fill_values = {'A': 0, 'B': 999, 'C': df['C'].mean(), 'D': 'missing'}
df_fill_dict = df.fillna(fill_values)
print("\nä½¿ç”¨å­—å…¸æŒ‡å®šä¸åŒåˆ—çš„å¡«å……å€¼:")
print(df_fill_dict)

In [ ]:
# 4.3 ä½¿ç”¨å‰å‘å¡«å…… (Forward Fill)
df_ffill = df.fillna(method='ffill')
print("ä½¿ç”¨å‰å‘å¡«å…… (ç”¨å‰ä¸€å€‹æœ‰æ•ˆå€¼å¡«å……):")
print(df_ffill)

# 4.4 ä½¿ç”¨å¾Œå‘å¡«å…… (Backward Fill)
df_bfill = df.fillna(method='bfill')
print("\nä½¿ç”¨å¾Œå‘å¡«å…… (ç”¨å¾Œä¸€å€‹æœ‰æ•ˆå€¼å¡«å……):")
print(df_bfill)

# 4.5 é™åˆ¶å¡«å……çš„é€£çºŒç¼ºå¤±å€¼æ•¸é‡
df_ffill_limit = df.fillna(method='ffill', limit=1)
print("\né™åˆ¶å‰å‘å¡«å……æœ€å¤šå¡«å……é€£çºŒ 1 å€‹ç¼ºå¤±å€¼:")
print(df_ffill_limit)

In [ ]:
# è§£èªª:
# - `fillna()` ç”¨æ–¼å¡«å……ç¼ºå¤±å€¼
# - å¯ä»¥ä½¿ç”¨å›ºå®šå€¼å¡«å……æ‰€æœ‰ç¼ºå¤±å€¼
# - å¯ä»¥ä½¿ç”¨å­—å…¸ç‚ºä¸åŒåˆ—æŒ‡å®šä¸åŒçš„å¡«å……å€¼
# - `method='ffill'` (æˆ– `pad`) è¡¨ç¤ºä½¿ç”¨å‰ä¸€å€‹æœ‰æ•ˆå€¼å¡«å……
# - `method='bfill'` (æˆ– `backfill`) è¡¨ç¤ºä½¿ç”¨å¾Œä¸€å€‹æœ‰æ•ˆå€¼å¡«å……
# - åƒæ•¸ `limit` å¯ä»¥é™åˆ¶é€£çºŒå¡«å……çš„ç¼ºå¤±å€¼æ•¸é‡
# - é€™äº›æ–¹æ³•é»˜èªè¿”å›æ–°çš„ DataFrameï¼Œä¸ä¿®æ”¹åŸå§‹æ•¸æ“š

In [ ]:
[markdown]
### ğŸ“Š 5. æ’å€¼æ³•å¡«å……ç¼ºå¤±å€¼

In [40]:
ts= pd.Series([1, np.nan, np.nan, 4, 5, np.nan, 7])
ts

0    1.0
1    NaN
2    NaN
3    4.0
4    5.0
5    NaN
6    7.0
dtype: float64

In [26]:
# 5.1 å‰µå»ºä¸€å€‹æœ‰æ•¸å€¼ç¼ºå¤±çš„ç¤ºä¾‹
ts = pd.Series([1, np.nan, np.nan, 4, 5, np.nan, 7])
print("åŸå§‹æ•¸å€¼åºåˆ—:")
print(ts)

åŸå§‹æ•¸å€¼åºåˆ—:
0    1.0
1    NaN
2    NaN
3    4.0
4    5.0
5    NaN
6    7.0
dtype: float64

In [29]:
ts

0    1.0
1    NaN
2    NaN
3    4.0
4    5.0
5    NaN
6    7.0
dtype: float64

In [28]:
ç·šæ€§æ’å€¼ = ts.interpolate()
ç·šæ€§æ’å€¼

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64

In [27]:
# 5.2 ç·šæ€§æ’å€¼
ts_interp = ts.interpolate()
print("\nç·šæ€§æ’å€¼å¾Œ:")
print(ts_interp)

ç·šæ€§æ’å€¼å¾Œ:
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64

In [ ]:
äºŒæ¬¡æ’å€¼ = ts.interpolate(method="quadratic")
äºŒæ¬¡æ’å€¼

In [ ]:

# 5.3 ä½¿ç”¨å…¶ä»–æ’å€¼æ–¹æ³•
ts_interp_quad = ts.interpolate(method='quadratic')
print("\näºŒæ¬¡æ’å€¼å¾Œ:")
print(ts_interp_quad)

ç·šæ€§æ’å€¼å¾Œ:
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64

äºŒæ¬¡æ’å€¼å¾Œ:
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64

In [ ]:
# è§£èªª:
# - `interpolate()` ç”¨æ–¼ä½¿ç”¨æ’å€¼æ³•å¡«å……ç¼ºå¤±å€¼
# - é»˜èªä½¿ç”¨ç·šæ€§æ’å€¼ï¼Œå‡è¨­ç›¸é„°é»ä¹‹é–“æœ‰ç·šæ€§é—œä¿‚
# - ä¹Ÿæ”¯æŒå…¶ä»–æ’å€¼æ–¹æ³•ï¼Œå¦‚äºŒæ¬¡æ’å€¼ (`quadratic`)
# - æ’å€¼æ³•ä¸»è¦é©ç”¨æ–¼æ•¸å€¼å‹æ•¸æ“šï¼Œç‰¹åˆ¥æ˜¯æ™‚é–“åºåˆ—æ•¸æ“š
# - å°æ–¼æœ‰æ˜é¡¯è¶¨å‹¢æˆ–è¦å¾‹çš„æ•¸æ“šï¼Œæ’å€¼æ³•é€šå¸¸æ¯”ç°¡å–®å¡«å……æ›´åˆç†
# - æ’å€¼æ³•éœ€è¦è¶³å¤ çš„éç¼ºå¤±å€¼é»ä½œç‚ºåƒè€ƒ

In [ ]:
[markdown]
### ğŸ“Š 6. å¯¦éš›æ¡ˆä¾‹ï¼šå­¸ç”Ÿæˆç¸¾æ•¸æ“š

In [ ]:
# 6.1 å‰µå»ºå­¸ç”Ÿæˆç¸¾æ•¸æ“šé›†
students = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Math': [85, 90, np.nan, 75, 60, np.nan, 95],
    'Science': [90, np.nan, 80, 70, np.nan, 85, 100],
    'English': [np.nan, 85, 90, 80, 70, 75, np.nan],
    'History': [80, 75, 85, np.nan, 90, 80, 85]
})

print("å­¸ç”Ÿæˆç¸¾æ•¸æ“š (å«ç¼ºå¤±å€¼):")
print(students)

In [24]:
import pandas as pd
import numpy as np
students=pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Math':[85, 90, np.nan, 75, 60, np.nan, 95],
    'Geometry':[70, 80, np.nan, 65, 55, np.nan, 90],
    'Science':[90, np.nan, 80, 70, np.nan, 85, 100],
    'English':[np.nan, 85, 90, 80, 70, 75, np.nan],
    'History':[80, 75, 85, np.nan, 90, 80, 85]

})
pd.DataFrame(students)
students.dropna(subset=['Math','Science']) #subset:åªæª¢æŸ¥æŒ‡å®šçš„æ¬„ä½

    Name  Math  Geometry  Science  English  History
0  Alice  85.0      70.0     90.0      NaN     80.0
3  David  75.0      65.0     70.0     80.0      NaN
6  Grace  95.0      90.0    100.0      NaN     85.0

In [12]:
students

      Name  Math  Geometry  Science  English  History
0    Alice  85.0      70.0     90.0      NaN     80.0
1      Bob  90.0      80.0      NaN     85.0     75.0
2  Charlie   NaN       NaN     80.0     90.0     85.0
3    David  75.0      65.0     70.0     80.0      NaN
4      Eva  60.0      55.0      NaN     70.0     90.0
5    Frank   NaN       NaN     85.0     75.0     80.0
6    Grace  95.0      90.0    100.0      NaN     85.0

In [11]:
# 6.2 æª¢æŸ¥ç¼ºå¤±å€¼æƒ…æ³
print(students.isna().sum())

Name        0
Math        2
Geometry    2
Science     2
English     2
History     1
dtype: int64

In [13]:
print(students.isna().sum(axis=1)) #axis = 1 (row)

0    1
1    1
2    2
3    1
4    1
5    2
6    1
dtype: int64

In [19]:
# 6.3 ä½¿ç”¨å¹³å‡å€¼å¡«å……ç¼ºå¤±çš„æˆç¸¾
students_filled = students.copy()
for column in ['Math', 'Science', 'English', 'History','Geometry']:
    students_filled[column] = students_filled[column].fillna(students[column].mean())

students_filled

      Name  Math  Geometry  Science  English  History
0    Alice  85.0      70.0     90.0     80.0     80.0
1      Bob  90.0      80.0     85.0     85.0     75.0
2  Charlie  81.0      72.0     80.0     90.0     85.0
3    David  75.0      65.0     70.0     80.0     82.5
4      Eva  60.0      55.0     85.0     70.0     90.0
5    Frank  81.0      72.0     85.0     75.0     80.0
6    Grace  95.0      90.0    100.0     80.0     85.0

In [21]:


complete_students = students.dropna()
complete_students

Empty DataFrame
Columns: [Name, Math, Geometry, Science, English, History]
Index: []

In [23]:



    


# 6.4 æ‰¾å‡ºå®Œæˆæ‰€æœ‰ç§‘ç›®çš„å­¸ç”Ÿ
complete_students = students.dropna()
print("\nå®Œæˆæ‰€æœ‰ç§‘ç›®çš„å­¸ç”Ÿ:")
print(complete_students)

å®Œæˆæ‰€æœ‰ç§‘ç›®çš„å­¸ç”Ÿ:
Empty DataFrame
Columns: [Name, Math, Geometry, Science, English, History]
Index: []

In [ ]:
# è§£èªª:
# - åœ¨å¯¦éš›æ‡‰ç”¨ä¸­ï¼Œç¼ºå¤±å€¼è™•ç†ç­–ç•¥å–æ±ºæ–¼æ•¸æ“šçš„æ€§è³ªå’Œåˆ†æç›®çš„
# - å°æ–¼æˆç¸¾æ•¸æ“šï¼Œä½¿ç”¨ç§‘ç›®å¹³å‡åˆ†å¡«å……æ˜¯å¸¸è¦‹çš„åšæ³•
# - è¨ˆç®—æ¯å€‹å­¸ç”Ÿçš„ç¼ºå¤±ç§‘ç›®æ•¸é‡å¯ä»¥å¹«åŠ©è­˜åˆ¥æ•¸æ“šå®Œæ•´æ€§å•é¡Œ
# - æ ¹æ“šåˆ†æç›®çš„ï¼Œå¯èƒ½éœ€è¦åˆªé™¤ç¼ºå¤±å€¼éå¤šçš„è¨˜éŒ„
# - è™•ç†ç¼ºå¤±å€¼æ˜¯æ•¸æ“šé è™•ç†çš„é‡è¦æ­¥é©Ÿï¼Œç›´æ¥å½±éŸ¿åˆ†æçµæœçš„å¯é æ€§

In [ ]:
[markdown]
### ğŸ“‹ 7. ç¸½çµ

In [ ]:
[markdown]
#### 7.1 ç¼ºå¤±å€¼è™•ç†çš„ä¸»è¦æ–¹æ³•

- **æª¢æ¸¬ç¼ºå¤±å€¼**:
  - `isna()` / `isnull()`: æª¢æ¸¬ç¼ºå¤±å€¼
  - `notna()` / `notnull()`: æª¢æ¸¬éç¼ºå¤±å€¼
  - `.sum()`, `.mean()`: è¨ˆç®—ç¼ºå¤±å€¼æ•¸é‡å’Œæ¯”ä¾‹

- **åˆªé™¤ç¼ºå¤±å€¼**:
  - `dropna()`: åˆªé™¤å«æœ‰ç¼ºå¤±å€¼çš„è¡Œæˆ–åˆ—
  - åƒæ•¸: `how`, `axis`, `thresh`, `subset`

- **å¡«å……ç¼ºå¤±å€¼**:
  - `fillna()`: ä½¿ç”¨æŒ‡å®šå€¼æˆ–æ–¹æ³•å¡«å……ç¼ºå¤±å€¼
  - å¡«å……ç­–ç•¥: å›ºå®šå€¼ã€å­—å…¸æŒ‡å®šå€¼ã€å‰å‘å¡«å……ã€å¾Œå‘å¡«å……
  - `interpolate()`: ä½¿ç”¨æ’å€¼æ³•å¡«å……æ•¸å€¼å‹ç¼ºå¤±å€¼

In [ ]:
[markdown]
#### 7.2 ç¼ºå¤±å€¼è™•ç†çš„æ³¨æ„äº‹é …

- åœ¨åˆªé™¤ç¼ºå¤±å€¼å‰å…ˆäº†è§£ç¼ºå¤±çš„æ¨¡å¼å’ŒåŸå› 
- é¸æ“‡åˆé©çš„å¡«å……æ–¹æ³•ï¼Œé¿å…å¼•å…¥åå·®
- è€ƒæ…®ç¼ºå¤±å€¼æ˜¯å¦ä»£è¡¨æœ‰æ„ç¾©çš„ä¿¡æ¯
- è™•ç†ç¼ºå¤±å€¼å‰å¾Œå°æ¯”æ•¸æ“šçµ±è¨ˆç‰¹æ€§ï¼Œç¢ºä¿ä¸€è‡´æ€§
- æ ¹æ“šç¼ºå¤±å€¼çš„æ¯”ä¾‹å’Œåˆ†å¸ƒé¸æ“‡æœ€åˆé©çš„ç­–ç•¥

In [ ]:
[markdown]
#### 7.3 ä¸‹ä¸€æ­¥å­¸ç¿’

- æ¢ç´¢æ›´å¤šç¼ºå¤±å€¼å¤„ç†æŠ€å·§
- å­¸ç¿’æ•¸æ“šé¡å‹è½‰æ›èˆ‡è™•ç†
- äº†è§£é‡è¤‡å€¼æª¢æ¸¬èˆ‡è™•ç†
- å­¸ç¿’æ•¸æ“šæ¸…æ´—çš„å®Œæ•´æµç¨‹
- æŒæ¡æ•¸æ“šé è™•ç†çš„æœ€ä½³å¯¦è¸